html, body, #root, div, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; /* prevents font scaling in landscape while user zooms in */
    height: calc(100% + env(safe-area-inset-top));
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: auto;
    overscroll-behavior-y: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar;
}

h1 {
    background-color: #252525;
    column-span: all;
    color: white;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

#root, body, html {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
    border: 1px solid rgb(25, 25, 83);
    padding: 5px;
}

.box, .logo-image {
    border-radius: 8px;
}

.col-1 {float: left; width: 8.33%;}
.col-2 {float: left; width: 16.66%;}
.col-3 {float: left; width: 25%;}
.col-4 {float: left; width: 33.33%;}
.col-5 {float: left; width: 41.66%;}
.col-6 {float: left; width: 50%;}
.col-7 {float: left; width: 58.33%;}
.col-8 {float: left; width: 66.66%;}
.col-9 {float: left; width: 75%;}
.col-10 {float: left; width: 83.33%;}
.col-11 {float: left; width: 91.66%;}
.col-12 {float: left; width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 1px dotted white;
}


p {
    border: 1px solid black;
}

ul {
    list-style: none;
}

.logo-image {
    max-width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}
