/* styles heavily influenced by MAHESH, "Job listing landing page" @https://codepen.io/MAHESHBYL/pen/GRLjZMw */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body, #root, div, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; /* prevents font scaling in landscape while user zooms in */
    height: calc(100% + env(safe-area-inset-top));
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    counter-reset: list;
}

.main-content {
    background-image: url('images/DRONES.jpeg');
    background-size: cover;
    background-position: center;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, .tag {
    text-decoration: none;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    color: inherit;
}

div, section, a, article, header {
    position: relative;
}

a, p, .btn {
    font-size: 14px;
}

p {
    line-height: 1.9em;
    font-weight: 300;
}

a, p {
    opacity: 0.7;
}

a {
    outline: none;
    position: relative;
    transition: 0.5s;
}

a:hover, .active {
    opacity: 1;
}

.flex, .fixed_flex {
    display: flex;
    justify-content: center;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.flex_content {
    width: 100%;
}

nav {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: #fff;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;
}

nav::after {
    content: "";
    display: block;
    height: 2px;
    background: linear-gradient(to right, #0eaa81, white);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

nav section {
    padding: 0.3rem 4rem;
    white-space: nowrap;
}

nav .logo {
    max-width: 60px;
    padding: 0.8rem;
}

nav .body {
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

nav .links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    list-style: none;
    align-items: center;
}

nav .links li a {
    padding: 0.6rem 0;
    position: relative;
    color: #181f27;
}

nav .links li .active:after, nav .links li a:after {
    transition: 0.5s;
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    top: 100%;
    height: 2px;
    background: #0eaa81
}

nav .links li .active:after, nav .links li a:hover:after {
    width: 100%;
}

.title {
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
}

.padding_4x {
    padding: 4rem;
}

.btn {
    display:block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    opacity: 1;
    white-space: nowrap;
}

.btn_1 {
    background-color: #0eaa81;
    border: 2px solid #181f27;
    color: #fff;
}

.btn_2 {
    background-color: #648DE5;
    border: 2px solid #181f27;
    color: #fff;
}

.btn_1:hover, .btn_2:hover {
    opacity: 0.8;
}

.big {
    font-size: 3.5em;
}

.medium {
    font-size: 2.2em;
    color: #648DE5;
}

.tag {
    padding: 0.1rem 0.3rem;
    border-radius: 3px;
}

em {
    font-style: normal;
    color: #0eaa81;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-y: auto;
    overscroll-behavior-y: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar;
}

h1 {
    background-color: #252525;
    column-span: all;
    color: white;
    padding: 15px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

#root, body, html {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
    border: 1px solid rgb(25, 25, 83);
    padding: 5px;
}

.box, .logo-image {
    border-radius: 8px;
}

.col-1 {float: left; width: 8.33%;}
.col-2 {float: left; width: 16.66%;}
.col-3 {float: left; width: 25%;}
.col-4 {float: left; width: 33.33%;}
.col-5 {float: left; width: 41.66%;}
.col-6 {float: left; width: 50%;}
.col-7 {float: left; width: 58.33%;}
.col-8 {float: left; width: 66.66%;}
.col-9 {float: left; width: 75%;}
.col-10 {float: left; width: 83.33%;}
.col-11 {float: left; width: 91.66%;}
.col-12 {float: left; width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 1px dotted white;
}

a:hover, .box:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo-image {
    
    max-width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}
